<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>Login</title>
	<link rel="stylesheet"  th:href="@{/css/login.css}"/>
</head>
<body>
	<div class="login-page">
		<div id="logo"><img th:src="@{/images/logo.jpg}" width="50%"></div>
  		<div class="form">
    		<h2>Inserisci nuovo materiale</h2>
		<form th:action="@{/materiale}" method="post" th:object="${materiale}">
			<div>
				<strong>Nome: </strong>
				<input class="input" type=text th:field="*{nome}" />
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>
			<div>
				<strong>Descrizione: </strong>
				<input class="input" type=text th:field="*{descrizione}" />
				<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
			</div>
			<div><button type="submit">Conferma</button></div>
			<footer><a th:href="@{/index}">Home</a></footer>
		</form>
		</div>
	</div>
</body>
</html>