<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet"  th:href="@{/css/footer.css}"/>
</head>
<body>
	<div id="footer" th:fragment="footer">
		<ul><strong>Materiali</strong>
			<li>Lista materiali</li>
			<li>Richieste speciali</li>
		</ul>
		<ul><strong>Informazioni</strong>
			<li>Fondatrici</li>
			<li>Galleria immagini</li>
		</ul>
		<ul><strong>Informazioni web</strong>
			<li>Cookies</li>
			<li>Rete</li>
			<li>Policies</li>
		</ul>
		<ul><strong>Social</strong>
			<li>Facebook</li>
			<li>Instagram</li>
			<li>Tik Tok</li>
		</ul>
		<ul><strong>Contattaci</strong>
		<li>Registrati</li>
		</ul>
		<img th:src="@{/images/logo.jpg}" width="8%">
	</div>
</body>
</html>