<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/css/topnav.css}" />
</head>

<body>
	<div th:fragment="topnav">
		<div class="topnav">
			<a href="/">Home</a>
			<a th:href="@{/elencoCollezioni}">Collezioni</a>
			<a th:href="@{/elencoMagliette}">Magliette</a>
			<a th:href="@{/elencoAccessori}">Accessori</a>
			<a th:href="@{/default}" style="float: right;">Area Personale</a>
			<a th:href="@{/ordineForm}" style="float: right;">Effettua ordine</a>
		</div>
		
		<div class="toplogo">
			<img th:src="@{/images/logo.jpg}" width="8%">
		</div>
	</div>
</body>

</html>