body {
	margin: 0;
	font-family: cursive;
}

/* If the screen size is 1001px wide or more, set the font-size of body to 100% */
@media screen and (min-width: 1001px) {
  body {
    font-size: 100%;
  }
}

/* If the screen size is 1000px wide or less, set the font-size of body to 65% */
@media screen and (max-width: 1000px) {
  body {
    font-size: 65%;
  }
}

.slider {
	display: flex;
	justify-content: center;
	margin-bottom: 2%;
}

.info{
	background-color: lightgray;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 2%;
	font-size: 110%;
	padding-left: 3%;
	padding-right: 3%;
}

.elenco {
	margin-left: 1%;
	margin-bottom: 5%;
	font-family: cursive;
}

.elenco tr {
	font-size: 120%;
}

.elenco a:visited { 
	color: #383838; 
}

.elenco a:link { 
	text-decoration: none; 
	color: #383838;
}

#dettagli {
	font-size: 120%;
}
