<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet"  th:href="@{/css/footer.css}"/>
	<link rel="stylesheet"  th:href="@{/css/topnav.css}"/>
	<link rel="stylesheet"  th:href="@{/css/css.css}"/>
	<link rel = "icon" href="/images/logo.jpg" type = "image/x-icon">
	<title>Tagga & Cuci</title>
</head>
<body>
	<div th:replace="fragments/topnav.html :: topnav"></div>
	<div class="slider"><img th:src="@{/images/slider.jpg}" width="80%"></div>
	<div class="info">
		<h1>Tagga & Cuci</h1>
		<div>Tagga & Cuci è un progetto indipendente che vuole riportare nel mondo della moda di tutti i giorni il ricamo a mano.<br>
			Ogni prodotto che troverete nel nostro catalogo, che sia una maglietta, felpa o accessorio di ogni genere, sarà ricamato con ago e filo rigorosamente a mano. <br>Non ti resta che scegliere 
			il tuo preferito e noi lo realizzeremo per te!</div> 
	</div>
	<div th:replace="fragments/footer.html :: footer2"></div>
</body>