<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/css/css.css}" />
	<link rel="stylesheet" th:href="@{/css/footer.css}" />
	<link rel="stylesheet" th:href="@{/css/topnav.css}" />
	<title>Dettagli collezione</title>
</head>

<body>
	<div th:replace="fragments/topnav.html :: topnav"></div>

	<div class="elenco">
		<h1>Dettagli collezione:</h1>

		<div id="dettagli">
			<div><strong>Nome: </strong>
				<span th:text="${collezione.nome}"></span>
			</div>
			<div><strong>Stagione: </strong>
				<span th:text="${collezione.stagione}"></span>
			</div>
			<div><strong>Magliette: </strong>
					<span th:each="mag : ${collezione.magliette}">
						<a th:href="@{'/maglietta' + '/' + ${mag.id}}">
							<span th:text="${mag.nome}" />,
						</a>
					</span>
			</div>
			<div><strong>Accessori: </strong>
				<span>
					<span th:each="acc : ${collezione.accessori}">
						<a th:href="@{'/accessorio' + '/' + ${acc.id}}">
							<span th:text="${acc.nome}" />,
						</a>
					</span>
				</span>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer.html :: footer"></div>
</body>

</html>