<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet"  th:href="@{/css/css.css}"/>
	<link rel="stylesheet"  th:href="@{/css/footer.css}"/>
	<link rel="stylesheet"  th:href="@{/css/topnav.css}"/>
	<title>elenco accessori</title>
</head>

<body>
	<div th:replace="fragments/topnav.html :: topnav"></div>
	
	
	<div class="elenco">
		<h1>Elenco accessori in catalogo:</h1>
			
		<table>
			<colgroup>
				<col style="width: 10%">
				<col style="width: 10%">
				<col style="width: 15%">
				<col style="width: 15%">
				<col style="width: 8%">
			</colgroup>
			<thead>
				<tr>
					<td><strong>Nome</strong></td>
					<td><strong>Tipo</strong></td>
					<td><strong>Descrizione</strong></td>
					<td><strong>Materiali</strong></td>
					<td><strong>Collezioni</strong></td>
				</tr>
			</thead>	
			</tbody>
				<tr th:each="accessorio : ${accessoriList}">
					<td th:text="${accessorio.nome}"/>
					<td th:text="${accessorio.tipo}"/>
					<td th:text="${accessorio.descrizione}"/>
					<td>
						<ta th:each="materiale : ${accessorio.materiali}">
						<ta><a th:href="@{'/materiale' + '/' + ${materiale.id}}"><tb th:text="${materiale.nome}"/>, </a></ta>
						</ta>
					</td>
					<td>
						<ta th:each="collezione : ${accessorio.collezioni}">
						<ta><a th:href="@{'/collezione' + '/' + ${collezione.id}}"><tb th:text="${collezione.nome}"/>, </a></ta>
						</ta>
					</td>		
				</tr>
			</tbody>
		</table>
	
	</div>
	<div th:replace="fragments/footer.html :: footer"></div>
</body>

</html>