<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/css/css.css}" />
	<link rel="stylesheet" th:href="@{/css/footer.css}" />
	<link rel="stylesheet" th:href="@{/css/topnav.css}" />
	<title>Dettagli maglietta</title>
</head>

<body>
	<div th:replace="fragments/topnav.html :: topnav"></div>

	<div class="elenco">
		<h1>Dettagli maglietta:</h1>

		<div id="dettagli">
			<span>
				<img th:src="@{'/images/' + ${maglietta.nome} +'.jpg'}" width="25%">
			</span>
			<div><strong>Nome: </strong>
				<span th:text="${maglietta.nome}"></span>
			</div>
			<div><strong>Descrizione: </strong>
				<span th:text="${maglietta.descrizione}"></span>
			</div>
			<div><strong>Colori disponibili: </strong>
				<span th:text="${maglietta.colore}"></span>
			</div>
			<div><strong>Prezzo: </strong>
				<span th:text="${maglietta.prezzo} + '€'"></span>
			</div>
			<div><strong>Materiali: </strong>
				<span th:each="mat : ${maglietta.materiali}">
					<a th:href="@{'/materiale' + '/' + ${mat.id}}">
						<span th:text="${mat.nome}" />,
					</a>
				</span>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer.html :: footer"></div>
</body>

</html>