<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login</title>
	<link rel="stylesheet" th:href="@{/css/login.css}" />
</head>

<body>
	<div class="login-page">
		<div id="logo"><img th:src="@{/images/logo.jpg}" width="50%"></div>
		<div class="form">
			<h2>Inserisci una nuova maglietta</h2>
			<form th:action="@{/maglietta}" method="post" th:object="${maglietta}">
				<div>
					<strong>Nome: </strong>
					<input class="input" type=text th:field="*{nome}" />
					<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
				</div>
				<div>
					<strong>Descrizione: </strong>
					<input class="input" type=text th:field="*{descrizione}" />
				</div>
				<div>
					<strong>Colori disponibili: </strong>
					<input class="input" type=text th:field="*{colore}" />
					<span th:if="${#fields.hasErrors('colore')}" th:errors="*{colore}"></span>
				</div>
				<div>
					<strong>Prezzo: </strong>
					<input class="input" type=text th:field="*{prezzo}" />
					<span th:if="${#fields.hasErrors('prezzo')}" th:errors="*{prezzo}"></span>
				</div>
				<p>
					<label><strong>Materiali: </strong>
						<input type="checkbox" name="materiali" th:each="mat:${materiali}" th:text="${mat.nome}"
							th:value="${mat.id}" th:field="*{materiali}" />
					</label>
				</p>
				<div><button type="submit">Conferma</button></div>
				<footer><a th:href="@{/index}">Home</a></footer>
			</form>
		</div>
	</div>
</body>

</html>